<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/db_xfsj?useUnicode=true&amp;amp;amp;amp;amp;amp;characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property><!-- 数据库的连接名 -->
		<property name="password" value="root"></property><!-- 数据库的连接密码，需要改成你自己的 -->
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					<!-- org.hibernate.dialect.SQLServerDialect -->
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/model/TAdmin.hbm.xml</value>
				<value>com/model/TZhuanye.hbm.xml</value>
				<value>com/model/TXuesheng.hbm.xml</value>
				<value>com/model/TXuefei.hbm.xml</value>
			</list>
		</property>
	</bean>



	<!-- 后台的登录 -->
	<bean id="loginService" class="com.service.loginService">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
		<property name="xueshengDAO">
			<ref bean="TXueshengDAO" />
		</property>
	</bean>



	<bean id="TAdminDAO" class="com.dao.TAdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>





	<bean id="TZhuanyeDAO" class="com.dao.TZhuanyeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="zhuanyeAction" class="com.action.zhuanyeAction"
		scope="prototype">
		<property name="zhuanyeDAO">
			<ref bean="TZhuanyeDAO" />
		</property>
	</bean>




	<bean id="TXueshengDAO" class="com.dao.TXueshengDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="xueshengAction" class="com.action.xueshengAction"
		scope="prototype">
		<property name="xueshengDAO">
			<ref bean="TXueshengDAO" />
		</property>
		<property name="zhuanyeDAO">
			<ref bean="TZhuanyeDAO" />
		</property>
	</bean>







	<bean id="TXuefeiDAO" class="com.dao.TXuefeiDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="xuefeiAction" class="com.action.xuefeiAction"
		scope="prototype">
		<property name="xuefeiDAO">
			<ref bean="TXuefeiDAO" />
		</property>
	</bean>






	<bean id="tongjiAction" class="com.action.tongjiAction"
		scope="prototype">
		<property name="xueshengDAO">
			<ref bean="TXueshengDAO" />
		</property>
		<property name="zhuanyeDAO">
			<ref bean="TZhuanyeDAO" />
		</property>
		<property name="xuefeiDAO">
			<ref bean="TXuefeiDAO" />
		</property>
	</bean>
</beans>